		</div><!-- /.container__content -->

		<div class="container__copy container-copy">

			<div class="container-copy__content js-fly-content">

				<div class="container-copy__fly js-fly">

					<button type="button" class="container-copy__close button js-fly-close">&times;</button>
				
					<div class="container-copy__title">
						Бад. Не является лекарственным средством
					</div><!-- /.container-copy__title -->

				</div><!-- /.container-copy__fly -->

				<div class="container-copy__text">
					RU.77.9911.003.Е.011348.11.14 от 27.11.2014г. Представительство Корпорации «Юнифарм, Инк (США), <br>
					115162, г. Москва, ул. Шаболовка, д.31, стр.Б, Тел. 8 (495) 995 77 67
				</div><!-- /.container-copy__text -->

			</div><!-- /.container-copy__content -->

		</div><!-- /.container__copy -->

	</div> <!-- end .container -->

	@@include("../common/modals.html", {})

	<script src="https://ad.csdnevnik.ru/special/prodaction/vendors/polyfill.min.js"></script>
	<script src="https://ad.csdnevnik.ru/special/prodaction/vendors/hello.min.js"></script>	
	
	<!-- main script -->
	@@if (server === "dnevnik"){
	<script src="assets/js/dnevnik.min.js"></script>
	}	
	@@if (server === "mosreg"){
	<script src="assets/js/mosreg.min.js"></script>
	}
	@@if (server === "staging"){
	<script src="assets/js/staging.min.js"></script>
	}
	@@if (server === "local"){	
	<script src="http://localhost:3000/assets/js/local.min.js"></script>
	}

</body>
</html>
